.ForecastChart {
    color: #666;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.scrollable {
    overflow-x: auto;
}
.scrollable::-webkit-scrollbar {
    display: none;
}

.scrollable > div {
    width: 475%;
    max-width: 10000px;
    min-height: 200px;
}

.graphPanel {
    height: 100%;
}

.windIcon {
    border-right: 1px solid #ccc;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.windIcon:last-of-type{
    border-right: 0;
}